doctype html
html(lang="en")
    head
        title Chat Service with Nodejs
        script(src='js/jquery-1.7.1.min.js')
        script(src='js/jquery-ui.js')
        script(src='js/jquery.slimscroll.min.js')
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
        script(src="js/bootstrap.min.js")
        script(src="js/bootbox.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="chat.js")
    body
        div.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
                div.navbar-header
                    button(type='button' data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="http://localhost:1901") Chat Service: Nodejs with SocketIO
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#Home") Home
                        li
                            a(href="#modalAbout", data-toggle="modal") About
        div.container#main                            
            div.col-xs-9.panel#chatConversion
                div.panel-heading
                div.panel-body#talk
            div.col-xs-3#right
                div.panel.panel-primary#listUser
                    div.panel-heading
                        h3.panel-title#numUser 
                    ul.panel-body#luser
                div.panel.panel-primary#listRoom
                    div.panel-heading
                        h3.panel-title Room
                        span#plus +
                    div.panel-body#roomName
            textarea.form-control#messageInput
        div.modal.fade#modalAddRoom
            div.modal-header
                h3 Add Room
            div.modal-body#bodyAdd
                input.form-control(type='text' placeholder='Room name' required autofocus)#roomInput
                input.form-control(type='password' placeholder='Pass your room' required autofocus)#roomPass
            div.alert.alert-error#errorRoom
                | This room was exist
            div.modal-footer
                button.btn.btn-success#enterRoom Create Room
        div(tabindex="-1").modal.fade#modalPseudo
            div.modal-header
                a.close(href="#" data-dismiss="modal") x
                h3 Welcome to ChatServices with Nodejs
            div.modal-body#bodyHead
                p Please choose a name to begin chat
                    input.form-control(type='text' placeholder='Nick name' required autofocus)#pseudoInput
                div.alert.alert-error#alertError
                    | This name is already used! Choose another one.
            div.modal-footer
                button.btn.btn-success#pseudoSubmit Lets chat!
        div(tabindex="-1").modal.fade#modalAbout
            div.modal-header
                a.close(href="#" data-dismiss="modal") x
                h3 About this application
            div.modal-body
                p 	This application has been made with 
                a(href="http://nodejs.org/") Node.js,
                a(href="http://socket.io/") Socket.io,
                a(href="http://expressjs.com/") Express et
                a(href="http://jade-lang.com/") Jade.
                p 	This application has made by Nga Nguyen Duy